@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

body {
    padding: 0;
    margin: 0;
    background: url('../images/background.png') 0 0 repeat-x;
    font-family: sans-serif;
}

.app {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 40px;
}

.left-col {
    float: left;
    width: 25%;
}

.right-col {
    float: right;
    width: 68%;
}

.sorter {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            background: #fff;
            margin-bottom: 2px;
            padding: 20px 15px;
            cursor: pointer;

            &.selected {
                background: #17317f;
                color: #fff;
            }
        }
    }
}

.results {
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 20px;
        }
    }

    .item-outer,
    .item-viewmore {
        @include clearfix();
        
        background: #fff;
    }

    .item-viewmore {
        label {
            display: block;
            width: 60%;
            height: 35px;
            background: #fff;
        }
    }

    .info {
        width: 40%;
        float: right;
        box-sizing: border-box;
        padding: 20px;

        h2 {
            margin: 0;
            color: #17317f;
        }

        .book-button {
            background: #fedc07;
            color: #17317f;
            display: block;
            text-align: center;
            padding: 10px;
            font-weight: bold;
            border-radius: 3px;

            > span {
                display: block;
            }

            .price {
                font-size: 24px;
            }
        }
    }

    .image {
        width: 60%;
        float: left;

        > img {
            display: block;
            max-width: 100%;
        }
    }

    .view-checkbox {
        display: none;
    }

    .description {
        display: none;
    }

    .view-checkbox:checked + label + .description {
        display: block;
    }
}